@model BikeShop.Web.Models.Accessory

@{
    ViewData["Title"] = "Детайли за аксесоар";
}

<div class="max-w-2xl mx-auto p-6 border rounded shadow">
    <img src="@Model.ImageUrl" alt="@Model.Name" class="w-full h-64 object-cover rounded mb-4" />
    <h2 class="text-2xl font-bold mb-2">@Model.Name</h2>
    <p><strong>Бранд:</strong> @Model.Brand</p>
    @using System.ComponentModel.DataAnnotations
    @using System.Reflection
    @{
        var displayName = Model.Category.GetType()
        .GetMember(Model.Category.ToString())
        .First()
        .GetCustomAttribute<DisplayAttribute>()?.Name ?? Model.Category.ToString();
    }
    <p><strong>Категория:</strong> @displayName</p>

    <p><strong>Описание:</strong> @Model.Description</p>
    <p><strong>Наличност:</strong> @Model.Stock бр.</p>
    <p class="text-xl font-semibold text-green-600 mt-2">@Model.Price лв.</p>

    @if (!User.IsInRole("Admin"))
    {
        <form method="post" asp-action="AddToCart" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-primary">Добави в кошницата</button>
        </form>
    }

</div>
